.header-wrapper {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  width: 100vw;
  z-index: 50;
  justify-content: center;
  position: fixed;

  @media (min-width: 900px) {
    justify-content: flex-start;
    position: relative;
  }

  .header {
    
    .logo {

      @media (min-width: 900px) {
       margin-left: 70px;
      }

      img {
        width: 100px;
      }
    }
  }
}