main {

    .links-container {
        padding: 0 30px 0;

        .links-wrapper {
            padding: 0;
            margin: 20px auto 20px;

            .links {

                @media (min-width: 900px) {
                    padding-right: 70px;
                }

                h2 {
                    font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    color: #393630;
                    text-transform: uppercase;
                    margin-bottom: 55px;

                    &::after {
                        content: '';
                        height: 2px;
                        width: 20px;
                        background: #393630;
                        display: block;
                        margin-top: 0.2rem;
                    }
                }

                &>div {
                    display: flex;
                    flex-direction: column;

                    @media (min-width: 900px) {
                        flex-direction: row;
                        column-gap: 30px;
                    }

                    &>div {
                        display: flex;
                        flex-direction: column;

                        @media (min-width: 900px) {
                            min-width: 50%;
                        }
                    }
                }

                @media (min-width: 900px) {
                    .button-container.tall {
                        min-height: 195px;
                    }
                }

                p:has(a) {
                    border: 1px solid #e8e8e8;
                    padding: 25px;
                    margin-top: 10px;
                    position: relative;
                    border-right: 30px solid #2a6a83;

                    a {
                        text-decoration: none;
                        cursor: pointer;
                        color: #393630;

                        &:hover {
                            color: #2a6a83;
                            text-decoration: none;
                            border-color: #2a6a83;
                        }

                        &::after {
                            color: #fff;
                            border-right: 1px solid currentcolor;
                            border-bottom: 1px solid currentcolor;
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            right: -18px;
                            top: 50%;
                            transform: rotate(-45deg);
                        }

                        h3 {
                            font-family: "Open Sans", Helvetica, Arial, sans-serif;
                            font-weight: 300;
                        }

                        p {
                            font-size: 14px;
                            font-family: "Open Sans", Helvetica, Arial, sans-serif;

                            @media (min-width: 900px) {
                                font-size: 16px;
                            }
                        }
                    }
                }

                &.quick {

                    &>div>div {
                        width: 100%;
                    }

                    h2 {
                        font-size: 20px;
                        color: #fff;
                        background-color: #2a6a83;
                        padding: 10px 15px 10px 20px;
                        margin: 0;

                        &::after {
                            content: none;
                        }
                    }

                    p:has(a) {
                        font-weight: 600;
                        font-size: 14px;
                        margin: 0;
                        border: 0;
                        border-bottom: 1px solid #bfb6af;
                        padding: 20px;

                        @media (min-width: 900px) {
                            font-size: 16px;
                        }


                        a {
                            &::after {
                                color: #393630;
                                border-right: 1px solid currentColor;
                                border-bottom: 1px solid currentColor;
                                content: '';
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                right: 20px;
                                top: 50%;
                                transform: rotate(-45deg);
                            }
                        }
                    }

                }
            }
        }
    }
}