.featured-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.featured-container .default-content-wrapper {
  margin-top: 0;
  padding: 0 15px 0;
}
@media (min-width: 900px) {
  .featured-container .default-content-wrapper {
    grid-area: content;
  }
}
.featured-container .default-content-wrapper p {
  margin: 0 0 10px;
}
@media (min-width: 900px) {
  .featured-container {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-row-start: auto;
    grid-row-end: auto;
    grid-template-areas: "content featured" "content links" "content .";
    row-gap: 16px;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
  }
  .featured-container .default-content-wrapper {
    margin-top: 0;
    padding: 0 15px 0;
  }
}
@media (min-width: 900px) and (min-width: 900px) {
  .featured-container .default-content-wrapper {
    grid-area: content;
  }
}
@media (min-width: 900px) {
  .featured-container .default-content-wrapper p {
    margin: 0 0 10px;
  }
}
.featured-container .featured-wrapper {
  border: 1px solid #cfcece;
  background-color: #f7f5f5;
  background-size: cover;
  margin: 0 0 20px;
}
@media (min-width: 900px) {
  .featured-container .featured-wrapper {
    grid-area: featured;
    margin: 0;
  }
}
.featured-container .featured-wrapper .featured {
  min-height: 320px;
  font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;
}
.featured-container .featured-wrapper .featured h2 {
  margin: 0;
  padding: 15px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  background-color: #2a6a83;
}
.featured-container .featured-wrapper .featured p {
  margin: 20px 20px 20px 20px;
  font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.featured-container .featured-wrapper .featured p:first-of-type {
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
  font-size: 19px;
  font-weight: 400;
  height: 125px;
}
.featured-container .featured-wrapper .featured p:first-of-type img {
  height: 66px;
  width: 52px;
  margin-right: 20px;
}
.featured-container .featured-wrapper .featured .button-container {
  margin: 40px 30px 0px;
}
.featured-container .featured-wrapper .featured .button-container a {
  color: #393630;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid #393630;
  padding: 15px;
  border-radius: 2px;
  text-transform: uppercase;
}
.featured-container .featured-wrapper .featured .button-container a:hover {
  color: #2a6a83;
  text-decoration: none;
  border-color: #2a6a83;
}
.featured-container .featured-wrapper .featured.espot-blue-rings {
  background-image: url("https://poco.entegris.com/content/dam/web/ux/espot/background/desktop/espot-blue-rings.svg?$img-576-height$");
}
.featured-container .featured-wrapper .featured.espot-blue-rings h2 {
  background: none;
}
.featured-container .featured-wrapper .featured.espot-blue-rings p {
  color: #fff;
}
.featured-container .featured-wrapper .featured.espot-blue-rings .button-container a {
  color: #fff;
  border: 1px solid #fff;
}
@media (min-width: 900px) {
  .featured-container .links-wrapper {
    grid-area: links;
    justify-self: start;
    margin: 0 !important;
  }
}
@media (min-width: 900px) {
  .featured-container .links-wrapper .links.quick {
    padding-right: 0;
  }
}