.featured-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;

    @media (min-width: 900px) {

        max-width: 1100px;
        display: grid;
        grid-template-columns: 66% 33%;
        grid-row-start: auto;
        grid-row-end: auto;
        grid-template-areas:
            "content featured"
            "content links"
            "content .";
        row-gap: 16px;
        // display: flex;
        // align-items: flex-start;
        max-width: var(--max-width);
        margin-left: auto;
        margin-right: auto;


        .default-content-wrapper {
            margin-top: 0;
            padding: 0 15px 0;

            @media (min-width: 900px) {
                grid-area: content;
                //width: 66%;
            }

            p {
                margin: 0 0 10px;
            }
        }
    }

    .featured-wrapper {
        border: 1px solid #cfcece;
        background-color: #f7f5f5;
        background-size: cover;
        margin: 0 15px 20px;

        @media (min-width: 900px) {
            grid-area: featured;
            margin: 0;

            //width: 33%;
        }

        .featured {
            min-height: 320px;
            font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;

            h2 {
                margin: 0;
                padding: 15px;
                font-weight: 700;
                font-style: normal;
                color: #fff;
                background-color: #2a6a83;
            }

            p {
                margin: 20px 20px 20px 20px;
                font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;
                font-weight: 400;

                &:first-of-type {
                    display: flex;
                    justify-content: left;
                    flex-direction: row-reverse;
                    font-size: 19px;
                    font-weight: 400;
                    height: 125px;

                    img {
                        height: 66px;
                        margin-right: 20px;
                    }
                }
            }

            .button-container {
                margin: 40px 30px 0px;

                a {
                    color: #393630;
                    font-weight: 700;
                    font-size: 1rem;
                    border: 1px solid #393630;
                    padding: 15px;
                    border-radius: 2px;
                    text-transform: uppercase;

                    &:hover {
                        color: #2a6a83;
                        text-decoration: none;
                        border-color: #2a6a83;
                    }
                }
            }

            &.espot-blue-rings {
                background-image: url('https://poco.entegris.com/content/dam/web/ux/espot/background/desktop/espot-blue-rings.svg?$img-576-height$');

                h2 {
                    background: none;
                }

                p {
                    color: #fff;
                }

                .button-container {
                    a {
                        color: #fff;
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }

    .links-wrapper {

        @media (min-width: 900px) {
            grid-area: links;
            justify-self: start;
            margin: 0 !important;
        }

        .links.quick {
            @media (min-width: 900px) {
                padding-right: 0;
            }
        }
    }
}