main {

    .scrollnav-container {
        padding: 0;

        .scrollnav-wrapper {
            display: flex;

            min-width: 100%;

            .scrollnav {
                display: flex;
                background: #f7f5f5;
                position: relative;
                width: 100%;
                padding-top: 50px;

                @media (min-width: 900px) {
                    align-items: center;
                    justify-content: center;
                }

                a {
                    color: #72706d;
                    padding: 10px;

                    &:hover {
                        color: #b31a1b;
                    }
                }
            }
        }
    }
}