@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url(/fonts/TradeGothicLTStd-Light.eot);
    src: url(/fonts/TradeGothicLTStd-Light.eot?#iefix) format("embedded-opentype"), url(/fonts/TradeGothicLTStd-Light.woff) format("woff"), url(/fonts/TradeGothicLTStd-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans-Light.eot);
    src: url(/fonts/OpenSans-Light.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-Light.woff) format("woff"), url(/fonts/OpenSans-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Semibold.eot);
    src: url(../fonts/OpenSans-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Semibold.woff) format("woff"), url(../fonts/OpenSans-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

:root {
    --link-color: #035fe6;
    --link-hover-color: #136ff6;
    --background-color: #fff;
    --overlay-background-color: #eee;
    --highlight-background-color: #ccc;
    --text-color: #000;
    --body-font-family: "Open Sans", Helvetica, Arial, sans-serif;
    --heading-font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;
    --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
    --body-font-size-m: 20px;
    --body-font-size-s: 14px;
    --body-font-size-xs: 16px;
    --heading-font-size-xxl: 28px;
    --heading-font-size-xl: 18px;
    --heading-font-size-l: 18px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
    --nav-height: 64px;
    --max-width: 100%;

    @media (min-width: 900px) {
        --heading-font-size-xxl: 60px;
        --heading-font-size-xl: 24px;
        --heading-font-size-l: 24px;
        --heading-font-size-m: 30px;
        --heading-font-size-s: 24px;
        --heading-font-size-xs: 22px;
        --max-width: 1100px;
    }
}

body {
    font-size: var(--body-font-size-s);
    margin: 0;
    font-family: var(--body-font-family);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    display: none;

    @media (min-width: 900px) {
        font-size: var(--body-font-size-m);
    }

    &.appear {
        display: unset;
    }

    @media (min-width: 900px) {
        &>*:not(#mega-menu-container) {
            margin-left: 81px;
        }
    }
}

#mega-menu-container {
    position: fixed;
    display: flex;
    left: 0;
    z-index: 100;
    height: 100vh;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;

    #close-button {
        color: #b31a1b;
        text-decoration: none;
        cursor: pointer;
                        }

    #first-level-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 38px;
        padding: 10px;
        width: 61px;
        background: #f7f5f5;
        border-right: 2px solid #ebe9e7;
        height: inherit;
        z-index: 75;

        a {
            position: relative;
            display: inline-block;
            margin-top: 10px;
            padding: 0;
            width: 56px;
            border: 0;
            text-align: center;
            text-decoration: none;

            &:hover {
                color: #b31a1b;

                img:nth-of-type(2) {
                    display: block !important;
                }

                img:nth-of-type(1) {
                    visibility: hidden;
                }
            }

            img {
                width: 38px;
                height: 38px;
            }

            img:nth-of-type(2) {
                position: absolute;
                display: none;
                top: 0;
                left: 9px;
                z-index: 99;
            }

            span {
                display: block;
                font-size: 10.5px;
                font-weight: 400;
                line-height: 1.3;
                margin: 0 auto;

            }

        }
    }

    #collapsable-container {
        position: absolute;
        display: flex;
        left: 0;
        transition: left 0.4s linear;
        flex-direction: column;
        height: 100vh;
        padding-top: 25px;
        background-color: white;
        border-top: 2px solid #ebe9e7;
        border-bottom: 2px solid #ebe9e7;
        border-right: 2px solid #ebe9e7;
        z-index: 50;

        &:has(.showing) {
            left: 81px;
            transition: left 0.4s linear;
        }

        #menu-button-bar {
            display: flex;
            min-height: 23px;
            padding: 14px 25px 14px;
            justify-content: flex-end;
            color: red;
            background-color: #f7f5f5;
            border-top: 2px solid #ece9e7;
            border-bottom: 2px solid #ece9e7;
        }

        #levels-holder {
            display: flex;
            height: 100%;

            #second-level-container {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                width: 0;
                transition: width 0.4s linear;
                height: inherit;
                overflow-x: auto;

                &.showing {
                    display: flex;
                    padding: 10px;
                    width: 360px;
                    transition: width 0.4s linear;
                }

                &>div {
                    display: none;
                    flex-direction: column;
                }

                .site-links {
                    list-style-type: none;
                    padding: 10px 0;
                    margin: 0;

                    li {
                        padding-top: 20px;
                    }
                }
            }

            #third-level-container {
                display: flex;
                width: 0;
                transition: width 0.4s linear;
                flex-direction: column;                
                background-color: #fff;
                height: inherit;
                overflow-x: auto;

                &.showing {
                    display: flex;
                    padding: 10px;
                    width: 360px;
                    transition: width 0.4s linear;
                    border-left: 2px solid #ebe9e7;
                }

                &>div {
                    display: none;
                    flex-direction: column;
                }
            }

            .item-list {
                display: none;
                margin-left: 19px;
                min-width: 300px;

                a {
                    padding-top: 20px;
                    margin-left: 20px;
                    color: #393630;
                    font-size: 14px;
                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                    text-decoration: none;
                    cursor: pointer;
                }

                .header {
                    font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;
                    color: #b31a1b;
                    margin-left: 0;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }

    @media (min-width: 900px) {
        top: 0;

        #collapsable-container {

            #menu-button-bar {}

            #levels-holder {

                #first-level-container {}

                #second-level-container {}

                #third-level-container {}

            }
        }
    }
}

header {
    height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: 600;
    line-height: 1.25;
    margin-top: 0.25em;
    margin-bottom: 0;
    scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
    font-size: var(--heading-font-size-xxl);
    padding-bottom: 10px;
}

h2 {
    font-size: var(--heading-font-size-xl);
}

h3 {
    font-size: var(--heading-font-size-l);
}

h4 {
    font-size: var(--heading-font-size-m);
}

h5 {
    font-size: var(--heading-font-size-s);
}

h6 {
    font-size: var(--heading-font-size-xs);
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

dl {
    margin-top: 1em;
    margin-bottom: 1em;
}

ol {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

pre {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: var(--fixed-font-family);
    font-size: var(--body-font-size-s);
    overflow: scroll;
}

blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
}

hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: 0;
    border-bottom: 1px solid var(--overlay-background-color);
}

code {
    font-family: var(--fixed-font-family);
    font-size: var(--body-font-size-s);
    padding: .125em;
}

samp {
    font-family: var(--fixed-font-family);
    font-size: var(--body-font-size-s);
    padding: .125em;
}

main {
    pre {
        background-color: var(--overlay-background-color);
        padding: 1em;
        border-radius: .25em;
        overflow-x: auto;
        white-space: pre;
    }

    input {
        font-size: 1.25rem;
        width: 100%;
        max-width: 50rem;
        display: block;
        margin-bottom: 1rem;
        padding: 0.75rem 0.6rem;
        border-radius: 0.25rem;
        box-sizing: border-box;
        border: 1px solid var(--text-color);
        color: var(--text-color);
        background-color: var(--background-color);

        &:hover {
            border: 1px solid var(--text-color);
        }
    }

    blockquote {
        font-style: italic;
        margin: 3rem;
        text-indent: -1rem;
        hanging-punctuation: first;

        p {
            &::before {
                content: "“";
                line-height: 0;
            }

            &::after {
                content: "”";
                line-height: 0;
            }
        }
    }

    img {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .section {
        padding: 16px;

        // @media (min-width: 600px) {
        //     padding: 64px 32px;
        // }

        &>div {
            @media (min-width: 900px) {
                max-width: var(--max-width);
                margin: auto;
            }
        }

        h1 {
            padding-left: 20px;
            border-bottom: 1px solid #e8e8e8;
        }

        p {
            strong {
                font-weight: 600;
            }
        }
    }

    .section.highlight {
        background-color: var(--highlight-background-color);
    }

    .section:has(h1) {
        padding-top: 0;
    }
}

a {
    &:any-link {
        color: var(--link-color);
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
        color: var(--link-hover-color);
    }
}

// a.button {
//     &:any-link {
//         font-family: var(--body-font-family);
//         display: inline-block;
//         box-sizing: border-box;
//         text-decoration: none;
//         border: 2px solid transparent;
//         padding: 5px 30px;
//         text-align: center;
//         font-style: normal;
//         font-weight: 600;
//         cursor: pointer;
//         color: var(--background-color);
//         background-color: var(--link-color);
//         margin: 16px 0;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         border-radius: 30px;
//     }

//     &:hover {
//         background-color: var(--link-hover-color);
//         cursor: pointer;
//     }

//     &:focus {
//         background-color: var(--link-hover-color);
//         cursor: pointer;
//     }
// }

// button {
//     font-family: var(--body-font-family);
//     display: inline-block;
//     box-sizing: border-box;
//     text-decoration: none;
//     border: 2px solid transparent;
//     padding: 5px 30px;
//     text-align: center;
//     font-style: normal;
//     font-weight: 600;
//     cursor: pointer;
//     color: var(--background-color);
//     background-color: var(--link-color);
//     margin: 16px 0;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     border-radius: 30px;

//     &:hover {
//         background-color: var(--link-hover-color);
//         cursor: pointer;
//     }

//     &:focus {
//         background-color: var(--link-hover-color);
//         cursor: pointer;
//     }

//     &:disabled {
//         background-color: var(--overlay-background-color);
//         cursor: unset;

//         &:hover {
//             background-color: var(--overlay-background-color);
//             cursor: unset;
//         }
//     }
// }

// a.button.secondary {
//     background-color: unset;
//     border: 2px solid currentcolor;
//     color: var(--text-color);
// }

// button.secondary {
//     background-color: unset;
//     border: 2px solid currentcolor;
//     color: var(--text-color);
// }

.icon {
    display: inline-block;
    height: 24px;
    width: 24px;

    svg {
        height: 100%;
        width: 100%;
    }
}