@charset "UTF-8";
@font-face {
  font-family: slick;
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/slick.eot);
  src: url(./fonts/slick.eot?#iefix) format("embedded-opentype"), url(./fonts/slick.woff) format("woff"), url(./fonts/slick.ttf) format("truetype"), url(./fonts/slick.svg#slick) format("svg");
}
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans.eot);
  src: url(/fonts/OpenSans.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans.woff) format("woff"), url(/fonts/OpenSans.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Light.eot);
  src: url(/fonts/OpenSans-Light.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-Light.woff) format("woff"), url(/fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Italic.eot);
  src: url(/fonts/OpenSans-Italic.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-Italic.woff) format("woff"), url(/fonts/OpenSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-BoldItalic.eot);
  src: url(/fonts/OpenSans-BoldItalic.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-BoldItalic.woff) format("woff"), url(/fonts/OpenSans-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSansLight-Italic.eot);
  src: url(/fonts/OpenSansLight-Italic.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSansLight-Italic.woff) format("woff"), url(/fonts/OpenSansLight-Italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Semibold.eot);
  src: url(/fonts/OpenSans-Semibold.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-Semibold.woff) format("woff"), url(/fonts/OpenSans-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-SemiboldItalic.eot);
  src: url(/fonts/OpenSans-SemiboldItalic.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-SemiboldItalic.woff) format("woff"), url(/fonts/OpenSans-SemiboldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Extrabold.eot);
  src: url(/fonts/OpenSans-Extrabold.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-Extrabold.woff) format("woff"), url(/fonts/OpenSans-Extrabold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-ExtraboldItalic.eot);
  src: url(/fonts/OpenSans-ExtraboldItalic.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-ExtraboldItalic.woff) format("woff"), url(/fonts/OpenSans-ExtraboldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url(/fonts/OpenSans-CondensedLight.eot);
  src: url(/fonts/OpenSans-CondensedLight.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-CondensedLight.woff) format("woff"), url(/fonts/OpenSans-CondensedLight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Trade Gothic LT Std";
  src: url(/fonts/TradeGothicLTStd-Light.eot);
  src: url(/fonts/TradeGothicLTStd-Light.eot?#iefix) format("embedded-opentype"), url(/fonts/TradeGothicLTStd-Light.woff) format("woff"), url(/fonts/TradeGothicLTStd-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url(/fonts/OpenSans-CondensedLightItalic.eot);
  src: url(/fonts/OpenSans-CondensedLightItalic.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-CondensedLightItalic.woff) format("woff"), url(/fonts/OpenSans-CondensedLightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url(/fonts/OpenSans-CondensedBold.eot);
  src: url(/fonts/OpenSans-CondensedBold.eot?#iefix) format("embedded-opentype"), url(/fonts/OpenSans-CondensedBold.woff) format("woff"), url(/fonts/OpenSans-CondensedBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Trade Gothic LT Std";
  src: url(/fonts/TradeGothicLTStd.eot);
  src: url(/fonts/TradeGothicLTStd.eot?#iefix) format("embedded-opentype"), url(/fonts/TradeGothicLTStd.woff) format("woff"), url(/fonts/TradeGothicLTStd.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Trade Gothic LT Std";
  src: url(/fonts/TradeGothicLTStd-Bold.eot);
  src: url(/fonts/TradeGothicLTStd-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/TradeGothicLTStd-Bold.woff) format("woff"), url(/fonts/TradeGothicLTStd-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Trade Gothic LT Std";
  src: url(/fonts/TradeGothicLTStd-Obl.eot);
  src: url(/fonts/TradeGothicLTStd-Obl.eot?#iefix) format("embedded-opentype"), url(/fonts/TradeGothicLTStd-Obl.woff) format("woff"), url(/fonts/TradeGothicLTStd-Obl.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Trade Gothic LT Std Condensed";
  src: url(/fonts/TradeGothicLTStd-Cn18.eot);
  src: url(/fonts/TradeGothicLTStd-Cn18.eot?#iefix) format("embedded-opentype"), url(/fonts/TradeGothicLTStd-Cn18.woff) format("woff"), url(/fonts/TradeGothicLTStd-Cn18.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Trade Gothic LT Std Condensed";
  src: url(/fonts/TradeGothicLTStd-Cn18Obl.eot);
  src: url(/fonts/TradeGothicLTStd-Cn18Obl.eot?#iefix) format("embedded-opentype"), url(/fonts/TradeGothicLTStd-Cn18Obl.woff) format("woff"), url(/fonts/TradeGothicLTStd-Cn18Obl.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Trade Gothic LT Std Condensed 20";
  src: url(/fonts/TradeGothicLTStd-BdCn20.eot);
  src: url(/fonts/TradeGothicLTStd-BdCn20.eot?#iefix) format("embedded-opentype"), url(/fonts/TradeGothicLTStd-BdCn20.woff) format("woff"), url(/fonts/TradeGothicLTStd-BdCn20.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Trade Gothic LT Std Bold 2";
  src: url(/fonts/TradeGothicLTStd-Bd2.eot);
  src: url(/fonts/TradeGothicLTStd-Bd2.eot?#iefix) format("embedded-opentype"), url(/fonts/TradeGothicLTStd-Bd2.woff) format("woff"), url(/fonts/TradeGothicLTStd-Bd2.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans-100.eot);
  src: url(/fonts/museo-sans/museosans-100.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans-100.woff) format("woff"), url(/fonts/museo-sans/museosans-100.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans-100italic.eot);
  src: url(/fonts/museo-sans/museosans-100italic.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans-100italic.woff) format("woff"), url(/fonts/museo-sans/museosans-100italic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans-300.eot);
  src: url(/fonts/museo-sans/museosans-300.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans-300.woff) format("woff"), url(/fonts/museo-sans/museosans-300.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans-300italic.eot);
  src: url(/fonts/museo-sans/museosans-300italic.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans-300italic.woff) format("woff"), url(/fonts/museo-sans/museosans-300italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans_500.eot);
  src: url(/fonts/museo-sans/museosans_500.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans_500.woff) format("woff"), url(/fonts/museo-sans/museosans_500.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans_500_italic.eot);
  src: url(/fonts/museo-sans/museosans_500_italic.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans_500_italic.woff) format("woff"), url(/fonts/museo-sans/museosans_500_italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans_700.eot);
  src: url(/fonts/museo-sans/museosans_700.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans_700.woff) format("woff"), url(/fonts/museo-sans/museosans_700.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans-700italic.eot);
  src: url(/fonts/museo-sans/museosans-700italic.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans-700italic.woff) format("woff"), url(/fonts/museo-sans/museosans-700italic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans_900.eot);
  src: url(/fonts/museo-sans/museosans_900.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans_900.woff) format("woff"), url(/fonts/museo-sans/museosans_900.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url(/fonts/museo-sans/museosans-900italic.eot);
  src: url(/fonts/museo-sans/museosans-900italic.eot?#iefix) format("embedded-opentype"), url(/fonts/museo-sans/museosans-900italic.woff) format("woff"), url(/fonts/museo-sans/museosans-900italic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: entegris-ui;
  src: url(/fonts/icons/entegris-ui.eot);
  src: url(/fonts/icons/entegris-ui.eot?#iefix) format("embedded-opentype"), url(/fonts/icons/entegris-ui.woff) format("woff"), url(/fonts/icons/entegris-ui.ttf) format("truetype"), url(/fonts/icons/entegris-ui.svg#entegris-ui) format("svg");
  font-weight: 400;
  font-style: normal;
}
:root {
  --link-color: #b31a1b;
  --link-hover-color: #1779ba;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;
  --body-font-family: "Open Sans", Helvetica, Arial, sans-serif;
  --heading-font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;
  --body-font-size-m: 20px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 16px;
  --heading-font-size-xxl: 28px;
  --heading-font-size-xl: 18px;
  --heading-font-size-l: 18px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;
  --nav-height: 100px;
  --max-width: 100%;
}
@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 24px;
    --heading-font-size-l: 24px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
    --max-width: 1100px;
  }
}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}
@media (min-width: 900px) {
  body {
    font-size: var(--body-font-size-m);
  }
}
body.appear {
  display: unset;
}
@media (min-width: 900px) {
  body > *:not(#mega-menu-container) {
    margin-left: 81px;
  }
}

#mega-menu-container {
  position: fixed;
  display: flex;
  left: 0;
  z-index: 100;
  height: 100vh;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#mega-menu-container #close-button {
  color: #b31a1b;
  text-decoration: none;
  cursor: pointer;
}
#mega-menu-container #first-level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 38px;
  padding: 10px;
  width: 61px;
  background: #f7f5f5;
  border-right: 2px solid #ebe9e7;
  height: inherit;
  z-index: 75;
}
#mega-menu-container #first-level-container a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding: 0;
  width: 56px;
  border: 0;
  text-align: center;
  text-decoration: none;
}
#mega-menu-container #first-level-container a:hover {
  color: #b31a1b;
}
#mega-menu-container #first-level-container a:hover img:nth-of-type(2) {
  display: block !important;
}
#mega-menu-container #first-level-container a:hover img:nth-of-type(1) {
  visibility: hidden;
}
#mega-menu-container #first-level-container a img {
  width: 38px;
  height: 38px;
}
#mega-menu-container #first-level-container a img:nth-of-type(2) {
  position: absolute;
  display: none;
  top: 0;
  left: 9px;
  z-index: 99;
}
#mega-menu-container #first-level-container a span {
  display: block;
  font-size: 10.5px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 auto;
}
#mega-menu-container #first-level-container a.more-icon {
  display: none;
  margin-top: auto;
  margin-bottom: 40px;
}
@media (min-width: 900px) {
  #mega-menu-container #first-level-container a.more-icon {
    display: block;
  }
}
#mega-menu-container #collapsable-container {
  position: absolute;
  display: flex;
  left: 0;
  transition: left 0.4s linear;
  flex-direction: column;
  height: 100vh;
  padding-top: 25px;
  background-color: white;
  border-top: 2px solid #ebe9e7;
  border-bottom: 2px solid #ebe9e7;
  border-right: 2px solid #ebe9e7;
  z-index: 50;
  opacity: 0.97;
}
#mega-menu-container #collapsable-container:has(.showing) {
  left: 81px;
  transition: left 0.4s linear;
}
#mega-menu-container #collapsable-container #menu-button-bar {
  display: flex;
  min-height: 23px;
  padding: 14px 25px 14px;
  justify-content: flex-end;
  color: red;
  background-color: #f7f5f5;
  border-top: 2px solid #ece9e7;
  border-bottom: 2px solid #ece9e7;
  opacity: 0.97;
}
#mega-menu-container #collapsable-container #levels-holder {
  display: flex;
  height: 100%;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 0;
  transition: width 0.4s linear;
  height: inherit;
  overflow-x: auto;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container.showing {
  display: flex;
  padding: 10px;
  width: 360px;
  transition: width 0.4s linear;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container.full {
  display: flex;
  padding: 10px;
  width: 100vw;
  transition: width 0.2s linear;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container > div {
  display: none;
  flex-direction: column;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container .site-links {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container .site-links li {
  padding-top: 20px;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container a {
  position: relative;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container a.has-children::after {
  color: #000;
  border-right: 1px solid currentcolor;
  border-bottom: 1px solid currentcolor;
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  right: 10px;
  bottom: 7px;
  transform: rotate(-45deg);
  z-index: 100;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container #more {
  display: flex;
  flex-direction: row;
}
#mega-menu-container #collapsable-container #levels-holder #second-level-container #more .item-list {
  display: flex;
  flex-direction: column;
}
#mega-menu-container #collapsable-container #levels-holder #third-level-container {
  display: flex;
  width: 0;
  transition: width 0.4s linear;
  flex-direction: column;
  background-color: #fff;
  height: inherit;
  overflow-x: auto;
}
#mega-menu-container #collapsable-container #levels-holder #third-level-container.showing {
  display: flex;
  padding: 10px;
  width: 360px;
  transition: width 0.4s linear;
  border-left: 2px solid #ebe9e7;
}
#mega-menu-container #collapsable-container #levels-holder #third-level-container > div {
  display: none;
  flex-direction: column;
}
#mega-menu-container #collapsable-container #levels-holder .item-list {
  display: none;
  margin-left: 19px;
  min-width: 300px;
}
#mega-menu-container #collapsable-container #levels-holder .item-list a {
  padding-top: 20px;
  margin-left: 20px;
  color: #393630;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
#mega-menu-container #collapsable-container #levels-holder .item-list .header {
  font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;
  color: #b31a1b;
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
@media (min-width: 900px) {
  #mega-menu-container {
    top: 0;
  }
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 300;
  line-height: 1.25;
  margin-top: 0.25em;
  margin-bottom: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
  padding-bottom: 10px;
  padding-left: 15px;
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

dl {
  margin-top: 1em;
  margin-bottom: 1em;
}

ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

pre {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
  overflow: scroll;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
  padding: 0.125em;
}

samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
  padding: 0.125em;
}

main {
  margin-top: 100px;
}
@media (min-width: 900px) {
  main {
    margin-top: 0;
  }
}
main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}
main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}
main input:hover {
  border: 1px solid var(--text-color);
}
main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}
main blockquote p::before {
  content: "“";
  line-height: 0;
}
main blockquote p::after {
  content: "”";
  line-height: 0;
}
main img {
  max-width: 100%;
  width: auto;
  height: auto;
}
main .section {
  padding: 16px;
}
@media (min-width: 900px) {
  main .section > div {
    max-width: var(--max-width);
    margin: auto;
  }
}
main .section h1 {
  border-bottom: 1px solid #e8e8e8;
}
main .section p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 900px) {
  main .section p {
    font-size: 20px;
  }
}
main .section p strong {
  font-weight: 600;
}
main .section.highlight {
  background-color: var(--highlight-background-color);
}
main .section:has(h1) {
  padding-top: 0;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}
.icon svg {
  height: 100%;
  width: 100%;
}