main {
    .breadcrumb-container {
        position: relative;
        display: flex;
        margin: 100px 0 50px;
        padding: 0;
        width: 100%;
        background-color: #b31a1b;

        @media (min-width: 900px) {
            margin: 0 0 50px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -30px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
            border-top: 40px solid #b31a1b;
            z-index: 1;
        }

        &>.breadcrumb-wrapper {
            display: flex;
            align-items: flex-start;
            width: 100%;
            height: 50px;
            margin-left: 60px;

            .breadcrumb {

                @media (min-width: 900px) {
                    display: flex;
                    height: 50px;
                    flex-direction: row-reverse;
                    align-items: center;
                    column-gap: 40px;
                }

                &>a {
                    position: relative;
                    visibility: hidden;
                    font-size: 14px;
                    font-family: "Trade Gothic LT Std", Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    color: #fff;
                    text-decoration: none;

                    @media (min-width: 900px) {
                        visibility: visible;
                    }

                    &:first-of-type {
                        pointer-events: none;
                    }

                    &:not(:first-of-type)::after {
                        color: #fff;
                        border-right: 1px solid currentcolor;
                        border-bottom: 1px solid currentcolor;
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        right: -18px;
                        top: 25%;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}